body {
    background-color: rgb(10, 96, 99);
}
h1 {
    color: rgb(7, 9, 9);
}

.post {
    background-color: rgb(190, 187, 187);
}

.user {
    font-style: italic;
}

a {
    text-decoration: none;
    font-size: large;
    font-weight: 700;
    color: white;
    background-color: black;
    padding: 5px;

}

button {
    background-color: red;
    padding: 5px;
    margin-bottom: 5px;
    font-weight: 700;
}